@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #b45c3d;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:root {
  --primary--black: #000;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* width: 7646px; */
  font-family: "Syne", sans-serif;

  display: flex;
  width: 1920px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up {
  width: 1315px;
  height: 805px;
  display: flex;
  align-items: center;
  gap: 48px;
  /* background-color: red; */
}

.frame {
  margin-top: 50px;
  display: inline-flex;

  background: #fff;
  width: 1315px;
  height: 805px;
  display: flex;
  align-items: center;
  gap: 48px;
}
.side-images {
  border-radius: 16px;
  background: url("assets/images/hw-banner.png") lightgray 50% / cover no-repeat;
  width: 707px;
  height: 805px;
}
.left {
  display: flex;
  width: 560px;
  height: 790px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.left .name {
  width: 560px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.left .label {
  color: #071431;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  height: 19px;
  align-self: stretch;
}
.left .name2 {
  width: 560px;
  height: 57px;
  display: flex;
  padding: 20px 40px 20px 32px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #dfe0e4;
  background: #f5f6f7;
}

.left .name2::placeholder {
  color: var(--Neutral-N200, #6a7283);

  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1 0 0;
}

.policy {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.sign-in-button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 999px;
  border: none;
  background: #fec100;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.sign-in-button:hover {
  background-color: #fff;
  border: 1px solid #000;
}
.sign-in-button .text {
  color: #071431;

  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.divider {
  width: 560px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.divider .or {
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.divider hr {
  width: 263px;
  height: 1px;
  background: #ebecef;
}

.social-login {
  width: 403px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.social-login .google {
  width: 190px;
  height: 56px;
  display: flex;
  padding: 4px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  border: 1px solid #dfe0e4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-login .google:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-login .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-login .p1 {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social-login .apple {
  display: flex;
  width: 190px;
  height: 56px;
  padding: 4px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  border: 1px solid #dfe0e4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-login .apple:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.signIn-link {
  color: #071431;
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
